#
# This file has to be updated regularly when the project structure is
# changed or expanded. The specified filtering rules make it easier to
# check in the relevant project files and source code.
#

#
# Ignore all .data directories and which are created by JDeveloper
#
/**/.data/*


#
# Ignore (empty) directories which are created by JDeveloper.
#
/Batch/classes/*


#
# Ignore all directories that contain compilation output
#
/**/classes/jmul/*
/**/classes/test/jmul/*
/**/Utilities/Version/classes/*


#
# Ignore all temporary data which is created by the various build
# scripts.
#
/tmp/*
/**/testdata-*/*
/**/*.bak
/**/build.log


#
# Ignore generated test data.
#
/**/Persistence-Tests/Test/*


#
# Ignore gradle build files
#
/**/.gradle
/**/Gradle-Build/temp/*
/**/gradle.properties
