
# Batch scripts

*.bat eol=crlf


# Java source files and properties

*.java cr
*.properties cr


# XML cr

*.xml cr
*.configuration cr


# JDeveloper project files

*.jpr cr
*.jws cr


# Documentation files

*.md cr
